flow-data-world-tg.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"TigerGraph Vertex","disabled":false,"info":""},{"id":"de4273b3.004ff","type":"TigerGraphDatabase","name":"Twitter","host":"dataworld.i.tgcloud.io","port":"9000","cert":"true","graph":"twitter","secret":"ld26cnop6vio66omf7p511q6mg3s3h2e"},{"id":"8564efef.0128f","type":"http request","z":"f6f2187d.f17ca8","name":"Data.World","method":"GET","ret":"txt","paytoqs":"query","url":"https://query.data.world/sql/mgjohns/twitter","tls":"","persist":false,"proxy":"","authType":"bearer","x":230,"y":160,"wires":[["28c70779.d7f698"]]},{"id":"b78ffbb9.6789a8","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"headers","v":"{\"Accept\":\"application/sparql-results+json\",\"User-Agent\":\"python-urllib3/3.8.9\"}","vt":"json"},{"p":"range","v":"500","vt":"num"},{"p":"offset","v":"90000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"query\":\"SELECT count(*) FROM tweet\"}","payloadType":"json","x":70,"y":160,"wires":[["8564efef.0128f"]]},{"id":"f632b8cd.41d7e8","type":"json","z":"f6f2187d.f17ca8","name":"Jsonify","property":"payload","action":"","pretty":false,"x":800,"y":640,"wires":[["64492966.024dd8"]]},{"id":"4eb8b0c3.b0b8","type":"TigerGraphVertex","z":"f6f2187d.f17ca8","graph":"de4273b3.004ff","name":"","vertex":"tweet","inList":"[\"id\",\"text\"]","outList":"[\"id\",\"text\"]","x":970,"y":700,"wires":[["8b8376a6.3a60a8"]]},{"id":"64492966.024dd8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"for (i = 1; i < msg.payload.results.bindings.length; i=i+1) {\n    \n    msg[\"id\"] = msg.payload.results.bindings[i][\"v_0\"][\"value\"];\n    msg[\"text\"] = msg.payload.results.bindings[i][\"v_11\"][\"value\"];\n\n    node.send(msg);\n\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":700,"wires":[["4eb8b0c3.b0b8"]]},{"id":"88e8cff6.6f671","type":"loop","z":"f6f2187d.f17ca8","name":"","kind":"cond","count":"","initial":"msg.count","step":"500","condition":"msg.remaining > 0","conditionType":"jsonata","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-keep","finalPayload":"final-last","x":780,"y":260,"wires":[["f719683a.6dba28","66d6dc15.000ec4"],["66d6dc15.000ec4"]]},{"id":"20478309.a705ec","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[\"results\"][\"bindings\"][0][\"v_0\"][\"value\"]","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"5847366d.a6c798","type":"http request","z":"f6f2187d.f17ca8","name":"Data.World","method":"GET","ret":"txt","paytoqs":"query","url":"https://query.data.world/sql/mgjohns/twitter","tls":"","persist":false,"proxy":"","authType":"bearer","x":790,"y":560,"wires":[["f632b8cd.41d7e8","42d1ff46.00401"]]},{"id":"28c70779.d7f698","type":"json","z":"f6f2187d.f17ca8","name":"Jsonify","property":"payload","action":"","pretty":false,"x":440,"y":160,"wires":[["20478309.a705ec","e113ce60.49e36"]]},{"id":"e113ce60.49e36","type":"function","z":"f6f2187d.f17ca8","name":"get total count","func":"msg.count = parseInt(msg.payload[\"results\"][\"bindings\"][0][\"v_0\"][\"value\"]);\nmsg.remaining = msg.count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["88e8cff6.6f671"]]},{"id":"42d1ff46.00401","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":560,"wires":[]},{"id":"f719683a.6dba28","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":260,"wires":[]},{"id":"66d6dc15.000ec4","type":"function","z":"f6f2187d.f17ca8","name":"Itteration Offsets","func":"\nmsg.remaining = msg.remaining - msg.range;\nmsg.offset += msg.range\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["63bcf021.a226f"]]},{"id":"65afa870.c5f1d8","type":"function","z":"f6f2187d.f17ca8","name":"Payload and Header","func":"msg.payload = {\"query\":\"SELECT * FROM tweet LIMIT \" + msg.range + \" OFFSET \" + msg.offset}\nmsg.headers = {\"Accept\":\"application/sparql-results+json\",\"User-Agent\":\"python-urllib3/3.8.9\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":480,"wires":[["5847366d.a6c798"]]},{"id":"63bcf021.a226f","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":360,"wires":[["88e8cff6.6f671","65afa870.c5f1d8"]]},{"id":"8b8376a6.3a60a8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":700,"wires":[]}]
