flow-Twitter.json
[{"id":"1c05b7f1.daf7f8","type":"tab","label":"GraphAI Summit Demo","disabled":false,"info":""},{"id":"1441f0d9.ebbe0f","type":"watson-tone-analyzer-v3","z":"1c05b7f1.daf7f8","name":"Get the \"tone\" of the tweet","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/6491010e-5297-406a-8406-e13c35ad450a","x":190,"y":660,"wires":[["82ee8ff8.7d117"]]},{"id":"86069e40.79f96","type":"sentiment","z":"1c05b7f1.daf7f8","name":"Get the \"Text Part\" of the tweet","property":"payload","x":190,"y":560,"wires":[["1441f0d9.ebbe0f"]]},{"id":"82ee8ff8.7d117","type":"function","z":"1c05b7f1.daf7f8","name":"Format the payload...","func":"msg[\"watson\"] = {\n    \n    \"text\" : msg.payload,\n    \"tone\" : msg.response,\n    \"sentiment\" : msg.sentiment\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":760,"wires":[["51fb1b16.a48734"]]},{"id":"b6d5d676.492a28","type":"comment","z":"1c05b7f1.daf7f8","name":"Get tweets and anlyze them!","info":"\n1) Get a tweet \n\n2) Dweet the tweet...","x":160,"y":80,"wires":[]},{"id":"517c465.93270b8","type":"twitter in","z":"1c05b7f1.daf7f8","twitter":"","tags":"#RocioVerdad5","user":"false","name":"","inputs":1,"x":110,"y":240,"wires":[["9c090a88.2a48b8","86069e40.79f96"]]},{"id":"976d059b.d4c498","type":"TigerGraphVertex","z":"1c05b7f1.daf7f8","graph":"a59363c8.cbaaa","name":"Tweets Vertex","vertex":"Tweets","inList":"[\"idTweet\",\"user\",\"full_text\"]","outList":"[\"idTweet\",\"user\",\"full_text\"]","x":1540,"y":140,"wires":[[]]},{"id":"b50bed5.367841","type":"function","z":"1c05b7f1.daf7f8","name":"Format for Tweets","func":"\n\n\n\n// vertex User\nmsg[\"id\"] = msg[\"tweet\"][\"user\"][\"id_str\"]\nmsg[\"name\"] = msg[\"tweet\"][\"user\"][\"name\"]\nmsg[\"screen_name\"] = msg[\"tweet\"][\"user\"][\"screen_name\"]\nmsg[\"location\"] = msg[\"tweet\"][\"user\"][\"location\"]\nmsg[\"description\"] = msg[\"tweet\"][\"user\"][\"description\"]\nmsg[\"url\"] = msg[\"tweet\"][\"user\"][\"url\"]\nmsg[\"followers_count\"] = msg[\"tweet\"][\"user\"][\"followers_count\"]\n\n\n// Vertex Tweets\nmsg[\"idTweet\"] = msg[\"tweet\"][\"id_str\"]\nmsg[\"user\"] = msg[\"tweet\"][\"user\"][\"id_str\"]\nmsg[\"full_text\"] = msg[\"payload\"]\n\n\n\n// Vertex Sentiment\n\nmsg[\"sentiment\"] = msg[\"watson\"][\"tone\"][\"document_tone\"][\"tone_categories\"][0][\"tones\"][0][\"tone_name\"]\nmsg[\"score\"] = msg[\"watson\"][\"tone\"][\"document_tone\"][\"tone_categories\"][0][\"tones\"][0][\"score\"]\nmsg[\"idSentiment\"] = msg[\"_msgid\"]\nmsg[\"raw\"] = msg[\"watson\"]\n\n\n\n// Edge  TWEET_SENTIMENT\nmsg[\"idTweet\"] = msg[\"tweet\"][\"id_str\"]\nmsg[\"idSentiment\"] = msg[\"_msgid\"]\n\n\n// Edge  USER_TWEETS\nmsg[\"idTweet\"] = msg[\"tweet\"][\"id_str\"]\nmsg[\"id\"] = msg[\"tweet\"][\"user\"][\"id_str\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":360,"wires":[["976d059b.d4c498","1d03101b.5d623","995cbf25.af918","f39c4bbe.88e508","c22a586b.c4c998"]]},{"id":"1d03101b.5d623","type":"TigerGraphVertex","z":"1c05b7f1.daf7f8","graph":"a59363c8.cbaaa","name":"User Vertex","vertex":"User","inList":"[\"id\",\"name\",\"screen_name\",\"location\",\"description\",\"url\",\"followers_count\"]","outList":" [\"id\",\"name\",\"screen_name\",\"location\",\"description\",\"url\",\"followers_count\"]","x":1550,"y":240,"wires":[[]]},{"id":"3d34ef3a.b1417","type":"TigerGraphEdge","z":"1c05b7f1.daf7f8","graph":"a59363c8.cbaaa","name":"USER_TWEETS Edge","vertexSource":"User","vertexDestination":"Tweets","edge":"USER_TWEETS","inList":"[\"id\",\"idTweet\"]","outList":"[\"id\",\"idTweet\"]","x":1620,"y":520,"wires":[[]]},{"id":"9c090a88.2a48b8","type":"change","z":"1c05b7f1.daf7f8","name":"Save Raw Message","rules":[{"t":"set","p":"paths[\"raw\"]","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["e9f535b7.adee48"]]},{"id":"51fb1b16.a48734","type":"change","z":"1c05b7f1.daf7f8","name":"Watson Path","rules":[{"t":"set","p":"paths[\"Watson\"]","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":700,"wires":[["e9f535b7.adee48"]]},{"id":"e9f535b7.adee48","type":"join-wait","z":"1c05b7f1.daf7f8","name":"Waiting For Watson","paths":"[\"raw\",\"Watson\"]","pathsToExpire":"[\"p3\",\"p4\"]","useRegex":false,"warnUnmatched":true,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"undefined","timeout":15000,"timeoutUnits":1,"exactOrder":"false","firstMsg":"true","mapPayload":"false","disableComplete":false,"persistOnRestart":false,"x":750,"y":360,"wires":[["b50bed5.367841"],[]]},{"id":"f39c4bbe.88e508","type":"TigerGraphVertex","z":"1c05b7f1.daf7f8","graph":"a59363c8.cbaaa","name":"Sentiment Vertex","vertex":"Sentiment","inList":"[\"idSentiment\",\"score\",\"sentiment\",\"raw\"]","outList":"[\"idSentiment\",\"score\",\"sentiment\",\"raw\"]","x":1570,"y":320,"wires":[[]]},{"id":"31bb5019.2f761","type":"TigerGraphEdge","z":"1c05b7f1.daf7f8","graph":"a59363c8.cbaaa","name":"TWEET_SENTIMENT Edge","vertexSource":"Tweets","vertexDestination":"Sentiment","edge":"TWEET_SENTIMENT","inList":"[\"idTweet\",\"idSentiment\"]","outList":"[\"idTweet\",\"idSentiment\"]","x":1640,"y":600,"wires":[[]]},{"id":"995cbf25.af918","type":"delay","z":"1c05b7f1.daf7f8","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1410,"y":520,"wires":[["3d34ef3a.b1417"]]},{"id":"c22a586b.c4c998","type":"delay","z":"1c05b7f1.daf7f8","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1410,"y":600,"wires":[["31bb5019.2f761"]]},{"id":"a59363c8.cbaaa","type":"TigerGraphDatabase","name":"NodeRed Graph","host":"142.93.194.191","port":"9000","cert":"false","graph":"NodeRedSentiment","secret":"uqfn2d2vvvokq3faluke1uat8u7hvvbs"}]
