flows.json
[{"id":"cd291a25.923bb8","type":"tab","label":"Hello TigerGraph ( GSQL )","disabled":false,"info":""},{"id":"510b0144.ec7dd","type":"tab","label":"Hello TigerGraph ( Data and Queries )","disabled":false,"info":""},{"id":"265e321.60884ce","type":"tab","label":"CSV Loader","disabled":false,"info":""},{"id":"dfe27900.991778","type":"tab","label":"Web Request Upsert Flow","disabled":false,"info":""},{"id":"de4273b3.004ff","type":"TigerGraphDatabase","name":"tigerflow Demo","host":"ttigerflow.i.tgcloud.io","port":"9000","cert":"true","graph":"MyGraph","secret":"o9g3h26ftiecmiifteori3daocv62i4u"},{"id":"5cf3467f.a68ba8","type":"TigerGraphDatabase","name":"","host":"127.0.0.1","port":"9000","cert":"false","graph":"MyGraph","secret":""},{"id":"a35f9bf3.756518","type":"inject","z":"cd291a25.923bb8","name":"Execute Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["11c737c9.711108"]]},{"id":"11c737c9.711108","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"LS ( Schema Inspection )","gsql":"ls","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":410,"y":80,"wires":[["b343db37.ec6478"]]},{"id":"2fbc831a.19e1ac","type":"comment","z":"cd291a25.923bb8","name":"List Schema","info":"","x":90,"y":40,"wires":[]},{"id":"b343db37.ec6478","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"b8e64524.c80b48","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"CREATE SCHEMA CHANGE JOB","gsql":"CREATE SCHEMA_CHANGE JOB schema_change_job_MyGraph FOR GRAPH MyGraph {     ADD VERTEX Person(PRIMARY_ID idPerson STRING, name STRING) WITH STATS = \"OUTDEGREE_BY_EDGETYPE\", PRIMARY_ID_AS_ATTRIBUTE = \"true\";     ADD VERTEX Car(PRIMARY_ID idCar STRING, CarName STRING) WITH STATS = \"OUTDEGREE_BY_EDGETYPE\", PRIMARY_ID_AS_ATTRIBUTE = \"true\";     ADD UNDIRECTED EDGE PERSON_HAS_CAR(FROM Person, TO Car); }","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":440,"y":160,"wires":[["12bef26d.902d5e"]]},{"id":"12bef26d.902d5e","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":160,"wires":[]},{"id":"2cd26317.ff458c","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["dbd85411.5614b8"]]},{"id":"dbd85411.5614b8","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"RUN Schema ChangeJob","gsql":"RUN SCHEMA_CHANGE JOB schema_change_job_MyGraph","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":410,"y":260,"wires":[["eda21635.6312e8"]]},{"id":"eda21635.6312e8","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":260,"wires":[]},{"id":"8544ff66.f8078","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["5e227e6e.2b245"]]},{"id":"5e227e6e.2b245","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"LS ( Schema Inspection )","gsql":"ls","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":410,"y":460,"wires":[["1f02cd89.a93f72"]]},{"id":"1f02cd89.a93f72","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":460,"wires":[]},{"id":"5c65143b.2ea97c","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[["e89cf958.0d6588"]]},{"id":"e89cf958.0d6588","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"DROP Schema Change Job","gsql":"DROP JOB     schema_change_job_MyGraph","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":420,"y":360,"wires":[["c0fb64e8.44ac18"]]},{"id":"c0fb64e8.44ac18","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"8f7850e.0cb59b","type":"comment","z":"cd291a25.923bb8","name":"Schema Definition","info":"","x":110,"y":120,"wires":[]},{"id":"edc63d85.aba44","type":"comment","z":"cd291a25.923bb8","name":"Run Schema Change Job","info":"","x":130,"y":220,"wires":[]},{"id":"bc2c7ff6.d64d","type":"comment","z":"cd291a25.923bb8","name":"Drop Schema Change Job","info":"","x":130,"y":320,"wires":[]},{"id":"9fdcaf26.3efcd","type":"comment","z":"cd291a25.923bb8","name":"List Schema","info":"","x":90,"y":420,"wires":[]},{"id":"6ef4957d.6b1d4c","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":560,"wires":[["b5697b29.fbdf48"]]},{"id":"b5697b29.fbdf48","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"CREATE Query","gsql":"CREATE QUERY TestQuery(/* Parameters here */) FOR GRAPH MyGraph {  PRINT \"It Works !\"; }","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":380,"y":560,"wires":[["24742e00.aee862"]]},{"id":"24742e00.aee862","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":560,"wires":[]},{"id":"4c3dc5ba.f57a0c","type":"comment","z":"cd291a25.923bb8","name":"Create Query","info":"","x":90,"y":520,"wires":[]},{"id":"1b460377.d271ed","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":660,"wires":[["bbd05a1f.f1ba88"]]},{"id":"bbd05a1f.f1ba88","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"INSTALL Query","gsql":"INSTALL QUERY ALL","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":380,"y":660,"wires":[["55bd5feb.00f06"]]},{"id":"55bd5feb.00f06","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":660,"wires":[]},{"id":"775a3f32.f7418","type":"comment","z":"cd291a25.923bb8","name":"Install Query","info":"","x":90,"y":620,"wires":[]},{"id":"242ffdaa.f9be02","type":"inject","z":"cd291a25.923bb8","name":"Execute Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["c568db39.c5d728"]]},{"id":"c568db39.c5d728","type":"TigerGraphGSQL","z":"cd291a25.923bb8","graph":"de4273b3.004ff","name":"LS ( Schema Inspection )","gsql":"ls","gsPort":"14240","endpoint":"/gsqlserver/gsql","x":410,"y":740,"wires":[["5522a7d.d99b858"]]},{"id":"fe559a3e.2742d8","type":"comment","z":"cd291a25.923bb8","name":"List Schema","info":"","x":90,"y":700,"wires":[]},{"id":"5522a7d.d99b858","type":"debug","z":"cd291a25.923bb8","name":"GSQL Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":740,"wires":[]},{"id":"b75b9c4e.2db7b","type":"inject","z":"510b0144.ec7dd","name":"Execute Query","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":160,"wires":[["267fc73e.ddb718"]]},{"id":"267fc73e.ddb718","type":"TigerGraphQuery","z":"510b0144.ec7dd","graph":"de4273b3.004ff","name":"","query":"TestQuery","params":"[ ]","vals":"[ ]","x":440,"y":160,"wires":[["aeafe11d.40e62"]]},{"id":"aeafe11d.40e62","type":"debug","z":"510b0144.ec7dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":160,"wires":[]},{"id":"769ac9c1.8e3838","type":"inject","z":"510b0144.ec7dd","name":"Upsert Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["a6c0efc0.76c83"]]},{"id":"a6c0efc0.76c83","type":"function","z":"510b0144.ec7dd","name":"Formatter","func":"\nmsg[\"idPerson\"] = \"15\"\nmsg[\"name\"] = \"Kevin\"\n\nmsg[\"idCar\"] = \"6\"\nmsg[\"CarName\"] = \"Honda\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["eb21b635.7f8a08","c6421996.665918","e675e4ae.c1e2f8"]]},{"id":"e675e4ae.c1e2f8","type":"TigerGraphEdge","z":"510b0144.ec7dd","graph":"de4273b3.004ff","name":"Edge","vertexSource":"Person","vertexDestination":"Car","edge":"PERSON_HAS_CAR","inList":"[\"idPerson\",\"idCar\"]","outList":"[\"idPerson\",\"idCar\"]","x":650,"y":460,"wires":[[]]},{"id":"eb21b635.7f8a08","type":"TigerGraphVertex","z":"510b0144.ec7dd","graph":"de4273b3.004ff","name":"Person Vertex","vertex":"Person","inList":"[\"idPerson\",\"name\"]","outList":"[\"idPerson\",\"name\"]","x":680,"y":340,"wires":[[]]},{"id":"c6421996.665918","type":"TigerGraphVertex","z":"510b0144.ec7dd","graph":"de4273b3.004ff","name":"Car Vertex","vertex":"Car","inList":"[\"idCar\",\"CarName\"]","outList":"[\"idCar\",\"CarName\"]","x":670,"y":400,"wires":[[]]},{"id":"fea60e70.6fa3","type":"comment","z":"510b0144.ec7dd","name":"Execute Query","info":"","x":180,"y":120,"wires":[]},{"id":"ed5d083e.91c7b8","type":"comment","z":"510b0144.ec7dd","name":"Upsert Data","info":"","x":170,"y":300,"wires":[]},{"id":"5398802a.78921","type":"http request","z":"265e321.60884ce","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/zrougamed/medium/main/person.csv","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":60,"wires":[["80b138d5.ba90d8","dd9b2a45.c46fc8"]]},{"id":"e6122cc0.862ef","type":"inject","z":"265e321.60884ce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["5398802a.78921"]]},{"id":"80b138d5.ba90d8","type":"csv","z":"265e321.60884ce","name":"","sep":";","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":430,"y":60,"wires":[["53ffe888.c2e378"]]},{"id":"53ffe888.c2e378","type":"function","z":"265e321.60884ce","name":"","func":"msg[\"idPerson\"] = msg[\"payload\"][\"col1\"]\nmsg[\"name\"] = msg[\"payload\"][\"col2\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":60,"wires":[["77265f95.ed2c","61848cf6.ad5264"]]},{"id":"77265f95.ed2c","type":"debug","z":"265e321.60884ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"dd9b2a45.c46fc8","type":"debug","z":"265e321.60884ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"61848cf6.ad5264","type":"TigerGraphVertex","z":"265e321.60884ce","graph":"de4273b3.004ff","name":"","vertex":"Person","inList":"[\"idPerson\",\"name\"]","outList":"[\"idPerson\",\"name\"]","x":860,"y":60,"wires":[[]]},{"id":"8a477447.c902c8","type":"http response","z":"dfe27900.991778","name":"","statusCode":"200","headers":{},"x":400,"y":300,"wires":[]},{"id":"c26c7d2f.d048b","type":"debug","z":"dfe27900.991778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":260,"wires":[]},{"id":"5bb80e27.ca8ec","type":"http in","z":"dfe27900.991778","name":"","url":"/Person","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["8a477447.c902c8","c26c7d2f.d048b","f00d3ad3.c1fd08"]]},{"id":"f00d3ad3.c1fd08","type":"function","z":"dfe27900.991778","name":"","func":"msg[\"idPerson\"] = msg[\"payload\"][\"idPerson\"]\nmsg[\"name\"] = msg[\"payload\"][\"name\"]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["ede2648c.c028c8"]]},{"id":"ede2648c.c028c8","type":"TigerGraphVertex","z":"dfe27900.991778","graph":"de4273b3.004ff","name":"","vertex":"Person","inList":"[\"idPerson\",\"name\"]","outList":"[\"idPerson\",\"name\"]","x":750,"y":160,"wires":[[]]},{"id":"9c09d338.c4a43","type":"inject","z":"cd291a25.923bb8","name":"Queries Schema","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["b8e64524.c80b48"]]}]